/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Sticky Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #add8e6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s, box-shadow 0.5s;
}

/* Navigation Bar Scroll Effect */
body.scrolled header {
    background-color: #87ceeb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Navigation Links */
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 3.5px;
    transition: background-color 0.5s, opacity 0.5s;
}

header nav ul li a:hover {
    background-color: #1aa1ce;
    color: white;
    opacity: 0.8;
}

/* Additional Styles */
.logo img {
    height: 35px;
}

/* Banner section */
.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background: #add8e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.banner h1, .banner p {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.banner .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.banner .slide.active {
    display: block;
}

/* Adjust header and text positioning */
.banner h1 {
    top: 30%;
    font-size: 2.5rem;
}

.banner p {
    top: 50%;
    font-size: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 70px;
}

.left-zone,
.right-zone {
    padding: 20px;
}

.left-zone {
    flex: 3;
}

.right-zone {
    flex: 2;
}

.image-placeholder img {
    background-color: #f0f0f0;
    display: inline-flex;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-bottom: 20px;
    object-fit: contain;
}

.quote {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 38px;
    color: #666;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #666;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 25px;
}

.product-offer1 {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.product-offer2 {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.features {
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
    align-items: center;
}

.features p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #000000;
}

.circle {
    display: inline-flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #add8e6;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}

.contact-form {
    padding: 50px;
    border: 1px solid #add8e6;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form h2 {
    text-align: left;
    margin-bottom: 25px;
}

.contact-form p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 80px;
    color: #666;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    margin-top: 15px;
}

.contact-form input,
.contact-form select {
    padding: 10px;
    margin-bottom: 15px;
}

.contact-form button {
    color: rgb(0, 0, 0);
    background-color: #add8e6;
    display: flex;
    padding: 10px 125px;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 75px;
    transition: background-color 0.5s, opacity 0.5s;
}

.contact-form button[type="submit"]:hover {
    background-color: #6495ed;
    color: white;
}

.contact-form .confirmation {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #add8e6;
    display: none;
}

.packages {
    padding: 10px 10px;
}

.packages h2 {
    text-align: center;
    margin-bottom: 60px;
}

.package-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 60px;
    justify-content: center;
}

.package-link {
    flex: 1 1 calc(33.333% - 40px);
    text-decoration: none;
    color: inherit;
    max-width: 300px;
}

.package {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #add8e6;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #666;
    transition: background-color 0.3s, color 0.3s;
}

.package .icon {
    width: 50px;
    height: 50px;
    background-color: #add8e6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.package .icon img {
    width: 24px;
    height: 24px;
}

.package h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.package p {
    font-size: 14px;
    color: #666;
}

.package:hover {
    background-color: #add8e6;
    color: #fff;
}

.package:hover h3,
.package:hover p {
    color: #fff;
}

.closing {
    padding: 10px 20px;
    text-align: center;
}

.closing h2 {
    text-align: center;
    margin: 50px;
}

.closing p {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

.call-to-action {
    background-color: #add8e6;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    text-align: justify;
    transition: background-color 0.5s, opacity 0.5s;
    margin-top: 25px;
    margin-bottom: 50px;
}

.call-to-action:hover {
    background-color: #6495ed;
    color: white;
    opacity: 0.8;
}

footer {
    background-color: #add8e6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    color: #333;
}

.footer-content img {
    width: 50px;
    margin-bottom: 10px;
}

.footer-content nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsive Design */

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .left-zone,
    .right-zone {
        flex: 1;
    }

    .contact-form {
        padding: 20px;
    }

    .package-grid {
        flex-direction: column;
    }

    .package-link {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .package {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 200px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .contact-form {
        padding: 10px;
    }

    .package {
        padding: 10px;
    }
}